.item {
    height: 250px;
}
.carousel-slide {
    height: 300px ;

}
.aside-bar{
    width: 200px ;
}
.navbar-footer{
    height: 51px;

}
.tblCalc{
    border:2px solid gray;
    margin:0;
    padding:0;
    width:250px;
    text-align:center;
    border-radius: 2px;

}
.tblCalc input{
    border:1px solid deepskyblue;
    border-style: outset;
    width:30px;
    margin:4px;
    border-radius: 3px;
}
#btnWide{
    width:80px;
}
#editWide{
    width:250px;